body {
    font-family: sans-serif;
    background-color:orange;
    color: #333;
    margin: 0;
    padding: 20px;
    
}
.s-form {
background-color: #FFF;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.592);
width: 400px;
margin: 0 auto;
}
h1 {
font-size: 24px;
margin-bottom: 0;
text-align: center;
}
label {
display: block;
margin-bottom: 5px;
}
span{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 10px;
}

select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
margin-right: 5px;
}

button {
background-color: #FFD700;
color: #333;
padding: 12px 25px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #FFC107;
}
